/VcMOSTRenderMqb.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/VcMOSTRenderMqb.iml
/.idea/vcs.xml
/QNXrendersimulator/.vs/*
/QNXrendersimulator/x64/*

/QNXrendersimulator/QNXrende.bd88d527/x64/*
